<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
table:has(th:nth-child(5):last-child) { table-layout: fixed; width: 100%; }
table:has(th:nth-child(5):last-child) th:nth-child(1) { width: 8%; }
table:has(th:nth-child(5):last-child) th:nth-child(2) { width: 42%; }
table:has(th:nth-child(5):last-child) th:nth-child(3) { width: 15%; }
table:has(th:nth-child(5):last-child) th:nth-child(4) { width: 15%; }
table:has(th:nth-child(5):last-child) th:nth-child(5) { width: 20%; word-break: break-all; }
td { word-wrap: break-word; }

:root {
  --PRIMARY-color: #3b99fc !important; 
  --PRIMARY-HOVER-color: #5da2e1 !important;
  --MENU-HEADER-BG-color: #232f3e !important;
  --MENU-HEADER-BORDER-color: #161e27 !important;
  --MENU-SEARCH-BG-color: #161e27 !important;
  --MENU-SEARCH-BORDER-color: #161e27 !important;
  --MENU-SECTIONS-BG-color: #232f3e !important;
  --MENU-SECTIONS-ACTIVE-BG-color: #161e27 !important;
  --MENU-SECTION-ACTIVE-CATEGORY-color: #ffffff !important;
  --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #161e27 !important;
  --MENU-SECTION-SEPARATOR-color: #161e27 !important;
  --MENU-SECTIONS-LINK-color: #879596 !important;
  --MENU-SECTIONS-LINK-HOVER-color: #ffffff !important;
}
body, h1, h2, h3, h4, h5, h6, table {
  font-family: "Open Sans", "Amazon Ember", "Helvetica Neue", Roboto, "Segoe UI", Arial, sans-serif !important;
}
</style>
